@model CaseDetailsVM
@{ ViewBag.Title = "Case";}
@{Html.RenderPartial("_HeaderNavBar");}

<div class="box">
    <h3 align="center" style="color:white">@Model.Headline</h3>
    <h6 align="center" style="color:white">Skapat av: @Model.Creator</h6>
    <div class="row justify-content-end" id="createrow">
        <div class="col-md-6 col-sm-12">
            <a asp-controller="Case" asp-action="EditCase" asp-route-id="@Model.Id">
                <div class="btn btn-info" style="float:right">
                    <h7 class="card-title" style="font-weight: bold;">Edit</h7>
                </div>
            </a>
            <a asp-controller="Case" asp-action="DeleteCase" asp-route-id="@Model.Id">
                <div class="btn btn-danger" style="float:right">
                    <h7 class="card-title" style="font-weight: bold;">Delete</h7>
                </div>
            </a>
        </div>
    </div>



    <div class="card-body d-flex align-items-center" style="background-color:#5E5E5E; box-shadow: 1px 3px 10px -1px rgb(27, 27, 27);">
        <p align="center" style="color:white">@Model.Description</p>
    </div>

    <div class="container" style="background-color:#5E5E5E; box-shadow: 1px 3px 10px -1px rgb(27, 27, 27);">
        @foreach (var item in Model.FeedItemVMs)
        {
            <div class="container" style="background-color:gray; box-shadow: 1px 3px 10px -1px rgb(27, 27, 27);">
                <p style="font-weight:bold">@item.Creator</p>
                <p>@item.Message</p>
                <p>@item.CaseId</p>

            </div>
        }
    </div>
    <form asp-controller="Case" asp-action="CreateFeedPost">
        <div class="input-group mb-3" id="input">
            <input type="text" asp-for="FeedItemVMs" class="form-control" placeholder="Post Message">
            <div class="input-group-append">
                <span type="submit" class="input-group-text btn" id="postbtn">Post</span>
            </div>
        </div>
    </form>

</div>

