@model CaseDetailsVM
@{ ViewBag.Title = "Case";}
@{Html.RenderPartial("_HeaderNavBar");}

<div class="box">
    <h4 align="center" style="color:white">@Model.Headline</h4>
    <h6 align="center" style="color:white">Skapat av: @Model.Creator</h6>
    <div class="row justify-content-end" id="createrow">
        <div class="col-md-6 col-sm-12">
            <a asp-controller="Case" asp-action="EditCase" asp-route-id="@Model.Id">
                <div class="btn" id="actionButtons" style="float:right">
                    <h7 class="card-title" style="font-weight: bold;">Edit</h7>
                </div>
            </a>
            <a asp-controller="Case" asp-action="DeleteCase" asp-route-id="@Model.Id">
                <div class="btn" id="actionButtons" style="float:right">
                    <h7 class="card-title" style="font-weight: bold;">Delete</h7>
                </div>
            </a>
        </div>
    </div>


    <h6 class="detailsHeadline">Description</h6>

    <div class="card-body d-flex align-items-center" id="descBox">
        <p align="center" style="color:white">@Model.Description</p>
    </div>
    <h6 class="detailsHeadline">Feed</h6>
    <div class="container" id="chatContainer">
        @foreach (var item in Model.FeedItemVMs)
        {
            if (item.Creator == User.Identity.Name)
            {
                <div class="container" id="chatBoxesSend">
                    <p class="chatUser">You</p>
                    <p class="chatMessage">@item.Message</p>
                    @*<p>@item.PostDateTime.ToShortDateString()</p>*@
                </div>
            }
            else
            {
                <div class="container" id="chatBoxesReply">
                    <p class="chatUser">@item.Creator</p>
                    <p class="chatMessage">@item.Message</p>
                    @*<p>@item.PostDateTime.ToShortDateString()</p>*@
                </div>
            }
        }
    </div>
    <form asp-controller="Case" asp-action="CreateFeedPost">
        <div class="input-group mb-3" id="input">
            <input hidden value="@Model.Id" name="id" />
            <input id="inputField" type="text" name="message" class="form-control" placeholder="Post Message" required>
            <div class="input-group-append">
                <button type="submit" id="inputBtn" class="btn" style="background-color: #FFB73A">Submit</button>
            </div>
        </div>
    </form>
</div>

