@model CaseIndexVM
@{ ViewBag.Title = "Case";}

<h3 align="center" style="color:white">Cases</h3>
<div class="row">
    @foreach (var caseInfo in Model.ItemVMs)
    {
        <div class="col-sm-12 col-md-4" colspan="3">
            <a asp-controller="Case"asp-route-id="@caseInfo.Id">
                <div class="card m-4" id="casecard">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="font-weight: bold;">@caseInfo.Headline</h5>
                        <p class="card-text"> @caseInfo.Description</p>
                    </div>
                </div>
            </a>
        </div>
        //<button asp-controller="Case" class="btn" asp-route-id="@caseInfo.Id">@caseInfo.Headline</button>
    }
</div>


<div class="row">
    <div class="col-12">
        <a asp-controller="Case" asp-action="CreateCase">
            <div class="card m-4" id="yellowButton">
                <div class="card-body text-center">
                    <h5 class="card-title" style="font-weight: bold;">CREATE</h5>
                </div>
            </div>
        </a>
        </div>
</div>
